.main-content {
    margin-top: 91px;
}
.main-content .filters-title-container {
    color: var(--normal-textColor);
    margin: 0;
}
.filters-title-container .filters-title {
    font-size: var(--font28);
    font-weight: var(--font-bold);
    color: #1e2843;
}
.filters-items-container {
    display: flex;
}
.filters-items-img {
    width: 36px;
    height: 36px;
    margin: 0;
    margin-left: auto;
    cursor: pointer;
    margin-top: 32px;
}
.filters-title-container .filters-route {
    color:var(--light-grey);
    font-weight: var(--font-small-medium);
    font-size: var(--font18);
    margin-bottom: 15px;
}

.items-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}
.items-list .item-list:not(:last-child) {
    margin-right: 10px;
}
.items-list .item-list {
    align-items: center;
    justify-content: center;
    font-weight: var(--font-small-medium);
    background-color: var(--white-color);
    border: 1px solid rgb(183, 215, 252);
    color: rgb(17, 112, 218);
    padding: 12px 26px;
    cursor: pointer;
    border-radius: 22px;
}
.item-list .item-title {
    margin: 0;
    line-height: 16px;
    margin-right: 6px;
    font-size: var(--font16);
}
.item-list .item-number {
    font-size: var(--font16);
    font-weight: var(--font-light);
}

.item-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}
.cards-container .row {
    margin-top: 100px;
    display: flex;
}
.cards-container .product-card {
    background-color: rgba(17, 112, 218, 0.06);
    width: 260px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(17, 112, 218, 0.06);
    margin-right: 17px;
}
.cards-container .product-card .card-product-header img {
    width: 100%;
    border-radius: 8px;
}
.card-product-body .title {
    font-size: var(--font16);
    font-weight: var(--font-medium);
    color: #2d497b;
    text-align: left;
    margin-top: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    height: 48px;
}
.card-product-body .labels-container {
    display: flex;
    margin-top: 14px;
}
.card-product-header .card-product-unavailable {
    background-color: #FFF2F3;
    color:#D91020;
    font-size: var(--font16);
    font-weight: var(--font-light);
    border-radius: 3px;
    position: absolute;
    left:40px;
    bottom:10px;
    height: 24px;
    width: 40%;
}
.card-product-header .card-product-megaToy{
    width: 26px !important;
    height: 26px !important;
    display: block;
    position: absolute;
    left:10px;
    bottom:10px;
}
.card-product-body .labels-container .label {
    background-color: var(--card-bg-color);
    padding: 5px 16px;
    border-radius: 8px;
    font-size: var(--font14);
    font-weight: var(--font-small-medium);
    color: #3c17ad;
}
.card-product-body :not(:last-child) {
    margin-right: 6px;
}
.card-product-footer {
    height: 40px;
}
.card-product-footer .likes .img-likes {
    height: 20px;
    width: 17px;
    background-color: gold;
}
.card-product-footer .likes .number-likes {
    color: #42a91d;
    font-size: var(--font16);
    font-weight: var(--font-small-medium);
    margin: 0 13px;
}
.card-product-footer .age-interval {
    color: #4671c6;
    font-size: var(--font16);
    font-weight: var(--font-small-medium);
    border-left: 1px solid var(--card-bg-color);
    padding-left: 13px;
}

.btn-primary {
    width: 35%;
    height: 40px;
    font-size: var(--font16);
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: space-around;
    padding: 0 15px;
}

@media only screen and (max-width: 767px) {
    .cards-container .product-card {
        width: 48%;
        margin-right: 0;
    }
    .cards-container .row {
        display: flex;
        justify-content: space-between;
    }

    .cards-container .row {
        margin-top: 30px;
        display: flex;
    }
}
@media only screen and (max-width: 576px) {
    .main-content .filters-title-container {
        flex-direction: column;
    }
    .items-list {
        width: 90%;
    }
    .items-list .item-list {
        padding: 11px 16px;
    }
}
@media only screen and (max-width: 515px) {
    .filters-container {
        justify-content: space-between;
    }
    .filters-container .filter {
        margin: 0;
        margin-bottom: 10px;
    }
    .card-product-footer .age-interval {
        font-size: 11px;
        padding-left: 7px;
    }
    .card-product-footer .likes .number-likes {
        font-size: 11px;
        margin: 0 7px;
    }
    .btn-primary {
        width: 30%;
        display: block !important;
        height: 30px;
        border-radius: 8px;
    }
    .card-product-body .title {
        font-size: var(--font12);
    }
}
