.content {
    margin-bottom: 100px;
}

.myAccount-navigation {
    display: flex;
    margin-top: 116px;
    height: 50px;
    background-color: #504E7F;
    border-radius: 25px;
    list-style: none;
    align-items: center;
}

.myAccount-navigation li {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-right: 10px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: var(--font-small-medium);
    font-size: var(--font16);
}

.myAccount-navigation li.active {
    background-color: #fff;
    border-radius: 25px;
    color: #41436B;
}

.content .main-title {
    font-size: var(--font24);
    color: #F52865;
}

.content .main-title span {
    display: block;
    color: #1E2843;
    margin-top: 12px;
    font-weight: var(--font-bold);
}


.content .left-container {
    width: 60%;
    margin-top: 47px;
}

.content .left-container .myAccount-resume {
    border: 2px solid #F8825D;
    border-radius: 20px;
    padding: 22px 32px 18px 22px;
    margin-top: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .left-container .myAccount-resume h2 {
    font-size: var(--font16);
    font-weight: var(--font-bold);
}

.content .left-container .myAccount-resume p {
    font-size: var(--font16);
    font-weight: var(--font-small-medium);
    margin-top: 10px;
    margin-bottom: 0;
}

.content .left-container .myAccount-resume button {
    width: 127px;
    margin: 0;
    height: 44px;
    font-size: var(--font16);
}

.content .myAccount-container {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 32px 26px 25px 26px;
    margin-top: 24px;
    color: #17194C;
}

.content .myAccount-container .title {
    font-size: var(--font20);
    font-weight: var(--font-bold);
    margin-bottom: 26px;
}

.content .myAccount-container .list-item {
    margin-top: 16px;
}

.content .myAccount-container .list-item span:nth-child(1) {
    font-size: var(--font16);
    font-weight: var(--font-bold);
    color: #F8825D;
    width: 170px;
    display: inline-block;
}

.content .myAccount-container .list-item span:not(:first-child) {
    color: #41436B;
    font-weight: var(--font-medium);
}

.content .myAccount-container .list-item .change-action {
    color: #757578 !important;
    cursor: pointer;
}

.content .myAccount-container .list-item .status {
    color: #45922A !important;
}



.content .myAccount-container .total-status {
    font-size: var(--font14);
    font-weight: var(--font-small-medium);
    margin-top: 16px;
}

.content .myAccount-container .previous-orders {
    color: #1170DA;
    font-weight: var(--font-medium);
    margin-top: 16px;
    font-size: var(--font16);
}

.content .left-container .subscription-container {
    margin-top: 32px;
    width: 464px;
}

.subscription-container .list-group-item .icon-wrapper.freeze-color {
    color: #716E7F;
}

.subscription-card-wrapper.freeze-color {
    background: #716E7F;
}

.subscription-card-price .change-action {
    color: #757578;
    text-align: center;
    display: block;
    margin-top: 22px;
    font-size: var(--font16);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.content .myAccount-container .discount-value {
    margin-top: 28px;
    font-size: var(--font14);
    font-weight: var(--font-small-medium);
    color: #17194C;
}

.content .myAccount-container .discount-value .discount {
    color: #F52865;
}

.myAccount-container .cta-container {
    margin-top: 23px;
}

.myAccount-container .myAccount-container-btn {
    margin: 0;
    width: 147px;
    font-size: var(--font16);
    margin-right: 26px;
}

.myAccount-container .myAccount-container-btn.freeze-color {
    background-color: #898F95;
}

.content .right-container {
    background: linear-gradient(to right bottom, rgba(254, 205, 195, 0.62), rgba(254, 212, 203, 0.37));
    width: 470px;
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 20px;
    padding: 32px 26px;
}

.content .right-container .recommend-title {
    font-size: var(--font20);
    font-weight: var(--font-bold);
    color: #17194C;
}

.content .right-container p {
    font-size: var(--font16);
    font-weight: var(--font-small-medium);
    color: #41436B;
    margin-top: 26px;
}

.content .right-container p span {
    font-weight: var(--font-bold);
}

.content .right-container .footer-container{
    margin-top: 31px;
    font-size: var(--font16);
}
.content .right-container .footer-container .label{
    font-weight: var(--font-bold);
} 

.content .right-container .btn-primary.recommend {
    background-color: #fff;
    color: #1170DA;
    border-radius: 10px;
    height: 36px;
    width: 70px;
    font-size: var(--font14);
    margin: 0;
}

.content .right-container .btn-primary.recommend.setMargin {
   margin: 0 10px 0 20px;
}
