.main-content {
    margin-top: 91px;
    color: var(--normal-textColor);
}

@media only screen and (max-width: 992px) {
    .cart-wrapper {
        height: calc(100vh - 91px);
    }
}
@media only screen and (max-width: 330px) {
    .cart-wrapper .cart-button .btn-primary {
       font-size: var(--font14) ;
    }
}