.content {
    padding-bottom: 200px;
}

.header-homepage {
    font-size: var(--font28);
    color:#252D3C;
    font-weight: var(--font-bold);
}

.warning-message {
    background-color: #504E7F;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: center;
}
.warning-message span {
    display: block;
    text-align: center;
    color: var(--white-color);
    font-size: var(--font16);
    cursor: pointer;
}

.info-content {
    margin-top: 64px;
    display: flex;
    background-color: var(--white-color);
    overflow: hidden;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgba(22, 59, 157, 0.07);
}

.info-content .details {
    width: 50%;
}

.info-content .details .inner-text-container{
    padding-left: 62px;
    padding-right: 68px;
    padding-top: 64px;
}

.info-content .details .inner-text-container .first-row{
   font-size: var(--font20);
   font-weight: var(--font-small-medium);
   color:#17194C;
   margin-bottom: 30px;
}

.info-content .details .inner-text-container .first-row.second-state{
    font-size: 27px;
    margin-bottom: 25px;
 }

.info-content .details .inner-text-container .second-row{
    font-size: 60px;
    color:#17194C;
    font-weight: var(--font-bold);
}

.info-content .details .inner-text-container .second-row.second-state{
    font-size: 50px;
}
 
 
.info-content .details .inner-text-container .second-row .one{
    color:#044A6C;
}

.info-content .details .inner-text-container .second-row .two{
    color:#F88600;
}

.info-content .details .inner-text-container .second-row .three{
    color:#00C9F9;
}

.info-content .details .inner-text-container .second-row .four{
    color:#00A4F8;
}

.info-content .details .inner-text-container .second-row .five{
    color:#80A405;
}

.info-content .details .inner-text-container .second-row .six{
    color:#1FB19A;
}

.info-content .details .inner-text-container .second-row .seven{
    color:#E16A5B;
}

.info-content .details .inner-text-container .second-row .eight{
    color:#7DAA24;
}

.info-content .details .inner-text-container .second-row .nine{
    color:#413585;
}

.info-content .details .inner-text-container .third-row{
    font-size: 32px;
    color:#252D3C;
    font-weight: var(--font-medium);
    margin-top: 21px;
}

.info-content .details .inner-text-container .third-row.second-state{
    font-size: 42px;
    font-weight: var(--font-small-medium);
    line-height: 60px;
    margin-top: 7px;
    margin-bottom: -5px;
}

.info-content .details .inner-text-container .third-row.second-state span{
    color:#287CE4;
    font-weight: var(--font-bold);
}

.info-content .photo {
    width: 50%;
}

.footer-details {
    justify-content: flex-start;
    margin-left: 62px;
    margin-top: 43px;
    margin-bottom: 66px;
}

.footer-details .btn-primary {
    width: 221px;
    margin-left: 0;
    margin-right: 0;
}

.footer-details p {
   color: #1170DA;
   font-size:  var(--font-small-medium);
   margin-top: 18px;
   margin-left: 28px;
   font-size: var(--font18);
}

.second-section {
    margin-top: 151px;
}

.second-section .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.second-section .content-wrapper .img-section{
    width: 30%;
    background-image: url("../assets/svg/trash.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.second-section  .title{
    margin-bottom: 16;
}

.second-section  .subtitle{
    font-size: var(--font18);
    color:#41436B;
    font-weight: var(--font-small-medium);
    line-height: 28px;
    margin-bottom: 32px;
    margin-top: 17px;
}

.second-section .left-section .option {
   margin-top: 15px;
}

.second-section .left-section .option p{
    color: #41436B;
    font-weight: var(--font-medium);
    font-size: var(--font18);
    margin: 0;
    margin-left:12px;
}

 .second-section .left-section .questions-label{
    font-size: var(--font18);
    font-weight: var(--font-bold);
    margin-left: 33px;
    margin-top: 32px;
    margin-bottom: 0px;
}

.second-section .left-section .questions-response {
    color: #1170DA;
    line-height: 20px;
    margin-top: 4px;
    font-weight: var(--font-medium);
    margin-left: 33px;
}

.section-three {
    margin-top: 110px;
    position: relative;
    background-image: url('../assets/svg/plane.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    z-index: 2;
}

.section-three .path1 {
    position: absolute;
    top:250px;
    left:26%;
    z-index: -1;
}

.section-three .path2 {
    position: absolute;
    top:335px;
    z-index: -1;
    left: 50%;
}

.section-three .card-wrapper {
    margin-top: 64px;
    border-radius: 20px;
}

.section-three .card-wrapper .inner-card-container{
   padding:26px 29px 26px 25px;
}

.section-three .card-wrapper .inner-card-container .card-top{
    margin-bottom: 13px;
    align-items: center;
}

.section-three .card-wrapper .inner-card-container .card-top .step-number{
    width:30px;
    height: 30px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-bold);
    border-radius: 15px;
    opacity: 50%;
    font-size: var(--font16);
    margin-right: 12px;
}

.section-three .blue-container {
    background: linear-gradient(180deg, #CBE8FE, #C4E4FC);
    width: 41.2%;
}

.section-three .orange-container {
    background: linear-gradient(180deg, #FECDC3, #FED4CB);
    width: 50%;
    margin-left: 47px;
    position: absolute;
    top:40%;
    left: 457px;
}

.section-three .violet-container {
    background: linear-gradient(180deg, #CCC9F7, #DCDAFA);
    width: 70%;
    margin-top: 133px;
}

.section-three .card-wrapper .inner-card-container .card-top .step-title{
    color: #17194C;
    font-weight: var(--font-bold);
    font-size: 20px;
}

.section-three .card-wrapper .inner-card-container .card-top .blue-circle{
    background-color: #17364C;
}

.section-three .card-wrapper .inner-card-container .card-top .orange-circle{
    background-color: #4C1717;
}

.section-three .card-wrapper .inner-card-container .card-top .violet-circle{
    background-color: #17194C;
}

.section-three .card-wrapper .inner-card-container .card-info{
    color:#41436B;
    font-size: var(--font16);
    line-height: 25px;
    font-weight: var(--font-small-medium);
}

.section-four {
    margin-top: 117px;
    padding:0;
    display: flex;
    flex-direction: column;
}

.section-four .header {
    margin-bottom: 28px;
}

.section-four .filters {
    margin-bottom: 0;
}

.section-four .filters .navigation-buttons  {
   margin-right: 50px;
}

.section-four .filters .navigation-buttons span {
   color: #1170DA;
   font-weight: var(--font-medium);
   font-size: var(--font18);
   margin-right: 32px;
}

.section-four .filters .navigation-buttons .arrows{
   cursor: pointer;
}

.filters-container {
    justify-content: flex-start;
}

.section-four .filters .navigation-buttons .arrows :first-child{
    margin-right: 10px;
}

.section-five {
    background: linear-gradient(93deg,  #C0EEFF, #FFD5CD);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 98px;
    border: 1px solid var(--white-color);
    box-shadow: 0 2px 8px 0 rgba(17, 112, 218, 0.12);
}

.section-five .testimonials-content{
    padding:48px 89px 50px 48px;
}

.section-five .testimonials-content .testimonials-clients{
    padding: 12px 0 12px 61px;
    display: flex;
    flex-direction: column;
}

.section-five .testimonials-content .testimonials-clients .client:not(:last-child) {
    margin-bottom: 40px;
}
 
.section-five .testimonials-content .testimonials-clients .client .client-name{
    display: block;
    color: #17194C;
    font-weight: var(--font-bold);
    font-size: var(--font20);
    margin-bottom: 12px;
}

.section-five .testimonials-content .testimonials-clients .client .client-review{
    color:#41436B;
    font-weight: var(--font-medium);
    font-size: var(--font18);
    line-height: 26px;
}

.section-five .testimonials-content .testimonials-coma {
   position: absolute;
   display: block;
   right: 64px;
   bottom: 46px;
}

@media only screen and (max-width: 1200px) {
    .info-content .details .inner-text-container .first-row{
        font-size: 18px;
    }
    .info-content .details .inner-text-container .second-row{
        font-size: 40px
    }
    .info-content .details .inner-text-container .third-row{
        font-size: 22px;
    }
    .info-content .details .inner-text-container .first-row.second-state{
        font-size: 24px;
    }
    .info-content .details .inner-text-container .second-row.second-state{
        font-size: 40px;
    }
    .info-content .details .inner-text-container .third-row.second-state{
        font-size: 30px;
        line-height: 38px;
    }
    .footer-details p {
        font-size: 15px;
    }
    .section-three .path1 {
        top:250px;
        left:30%; 
    }
    .section-three .path2 {
        top:343px;
        left: 50%;
    }
    .section-three .orange-container {
        margin-left: 27px;
    }
}

@media only screen and (max-width: 1070px) {
    .section-three .path1 {
        top:250px;
        left:28%; 
    }
    .section-three .path2 {
        top:361px;
        left: 50%;
    }
     .section-four .filters .navigation-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width: 991px) { 
    .info-content .details .inner-text-container{
        padding:0;
        padding-top: 64px;
    }
    .info-content {
        flex-direction: column;
    }
    .info-content .details {
        width: 100%;
        text-align: center;
        order: 2;
    }
    .footer-details .btn-primary {
        width: 50%;
    }
    .footer-details .btn-primary.second-state{
       margin-bottom: 20px;
    }
    .info-content .details .inner-text-container .first-row{
        font-size: 25px;
    }
    .info-content .details .inner-text-container .second-row{
        font-size: 50px;
    }
    .info-content .details .inner-text-container .third-row{
        font-size: 25px;
        padding: 0 10px;
    }
    .footer-details p {
        font-size: 18px;
    }
    .info-content .photo {
        width: 100%;
    }
    .info-content .footer-details {
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
    .info-content .footer-details p {
        margin: 0;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .section-three .first-two-containers  {
        flex-direction: column;
    }
    .section-three .blue-container, .card-wrapper.violet-container, .card-wrapper.orange-container  {
        width: 100%;
        margin: 0;
    }
    .section-three .card-wrapper.orange-container {
        position: static;
        margin: 22px 0 16px 0;
    }
    .second-section .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .second-section .content-wrapper .left-section {
        order: 1;
    }
    .second-section  .title,  .second-section  .subtitle{
       text-align: center;
    }
    .second-section .left-section .option {
        align-items: flex-start;
    } 
    .second-section .left-section .option :first-child{
        padding-top: 5px;
    } 

    .section-five {
        padding: 19px 16px 19px 18px !important;
    }
    .section-five .testimonials-content{
        flex-direction: column;
        padding: 0;
    }
    .section-five .testimonials-content .testimonials-clients {
        padding: 0;
        margin-top: 38px;
    }
    .homepage-content {
        padding: 0 20px;
    }
    .section-three .title {
        margin-bottom: 32px;
        text-align: center;
    }
    .section-four .header .title {
        margin: auto;
    }
    .section-four .header{
        flex-direction: column;
    }
    .section-four .header :first-child{
        margin-bottom: 15px!important;
    }
}


@media only screen and (max-width: 500px) {
    .warning-message span {
     font-size: 14px;
    }
    .info-content {
        margin-top: 16px;
    }
    .info-content .details .inner-text-container{
        padding-top: 26px;
    }
    .info-content .details .inner-text-container .first-row{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .info-content .details .inner-text-container .first-row.second-state{
        font-weight: var(--font-medium);
        font-size: 20px;
        margin-bottom: 12px;
        color: #252D3C;
    }
    .info-content .details .inner-text-container .second-row{
        font-size: 40px;
    }
    .info-content .details .inner-text-container .second-row.second-state{
        font-size:32px;
     }
    .info-content .details .inner-text-container .third-row{
        font-size: 20px;
    }
    .info-content .details .inner-text-container .third-row.second-state{
        font-size: 28px;
        line-height: 38px;
    }
    .footer-details p {
        font-size: 16px;
    }
    .footer-details .btn-primary {
        width: 90%;
    }
    .second-section, .section-three, .section-four,  .section-five{
        margin-top: 64px;
    }
    .second-section .content-wrapper .img-section{
        width: 50%;
    }
    .section-four .header .logos{
        width: 95%;
    }
}

@media only screen and (max-width:375px) {
    .filters-container .filter .age-interval {
        position: relative;
        right: -6px;
    }
    .filters-container .filter {
        width: 86px;
    }
}