.main-content {
    margin-top: 150px;
}
.main-content .accordion-wrapper {
    background-color: #242835;
    width: 373px;
    margin-top: 98px;
    border-radius: 12px;
    padding:30px;
}
.main-content .accordion-wrapper #accordion {
    margin-top: 30px;
}
.main-content .accordion-wrapper .accordion-title {
    font-weight: var(--font-medium);
    color:var(--white-color);
    font-size: var(--font24);
    line-height: 32px;
}
.main-content .accordion-wrapper .accordion-item {
    width: 100%;
    padding:9px 16px;
    border-radius: 10px;
    color:var(--white-color) !important;
    font-size: var(--font14);
    border: 1px solid rgba(255,255,255, .4);
    background-color: rgba(255,255,255, .2);
}
.main-content .accordion-wrapper .accordion-item .card-body{
    padding:5px;
}
.main-content .accordion-wrapper .accordion-item:not(:last-child) {
    margin-bottom: 16px;
}
.main-content .accordion-wrapper .card-link {
    width: 100%;
    color:var(--white-color);
    opacity: .9;
    padding-left: 10px;
}
.main-content .accordion-wrapper i {
    padding-top: 3px;
}
.main-content .inner-wrapper .title {
    color: var(--red-color);
    line-height: 24px;
    margin-bottom: 12px;
}
.main-content .inner-wrapper .subtitle {
    margin-bottom: 38px;
}
.info-container-wrapper .inner-wrapper .details .details-box:not(:last-child) {
    margin-bottom: 20px;
}
.info-container-wrapper .inner-wrapper .details-box {
    font-weight: var(--font-small-medium);
    line-height: 24px;
    font-size: var(--font16);
    display: flex;
    flex-direction: column;
}
.info-container-wrapper .inner-wrapper .details-box .box-title {
    color:var(--lightOrange-color);
}
.info-container-wrapper .inner-wrapper .details-box .box-content {
    color:var(--normal-textColor);
}
.info-container-wrapper .inner-wrapper .box-image img{
    display: block;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 0;
    width: 200px;
}
.info-container-wrapper .inner-wrapper .support {
    font-weight: var(--font-medium);
    line-height: 24px;
    font-size: var(--font16);
    color:var(--normal-textColor);
    margin-bottom: 70px;
}
.info-container-wrapper .inner-wrapper .support span{
    color:var(--primary-color);
}
.questions-footer {
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 373px;
    margin: 0 auto;
    margin-top: 32px;
}
.questions-footer :first-child {
    font-size: var(--font18);
    font-weight: var(--font-bold);
    color:var(--normal-textColor);  
}
.questions-footer :nth-child(2){
    font-size: var(--font16);
    font-weight: var(--font-medium);
    color:var(--primary-color);
    display: block;
    line-height: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    .main-content .accordion-wrapper {
      margin-top: 0;
    }
}
@media only screen and (max-width: 576px) {
    .questions-footer,
    .main-content .accordion-wrapper {
        width: 100%;
    }
    .main-content {
        margin-top: 100px;
    }
    .main-content .inner-wrapper .subtitle {
        margin-bottom: 20px;
    }
    .info-container-wrapper .inner-wrapper .box-image img{
        margin-top: 38px;
    }
}