.main-container {
    margin-top: 10px;
}
.main-container .card-wrapper {
    width: 417px;
}
.main-container .card-subscription {
    background-color: var(--white-color);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-top: 180px;
    border-style: solid;
    border-width: 1px;
    border-color: #fd9164;
    width: 100%;
    position: relative;
    z-index: 900;
}
.main-container .card-subscription .card-name {
    color: var(--red-color);
    font-size: var(--font20);
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 10px;
    font-weight: var(--font-medium);
}
.main-container .card-subscription .card-title {
    color: var(--primary-color);
    margin-bottom: 24px;
}
.main-container .card-body {
    padding: 0;
    color: var(--normal-textColor);
    font-size: var(--font16);
    font-weight: var(--font-medium);
    line-height: 24px;
    margin-bottom: 20px;
}
.main-container .card-body.card-footer-subscription {
    font-weight: var(--font-small-medium);
    margin-bottom: 32px;
}
.main-container .card-body.card-footer-subscription.card-footer-info {
    margin: 0 auto;
    margin-top: 238px;
    margin-bottom: 26px;
    width: 75%;
}
.main-container .card-body.card-footer-subscription span {
    color: #f8825d;
}
.red {
    background-color: #ff6b00;
}

.yellow {
    background-color: #9054a1;
}

.blue {
    background-color: #00acca;
}
@media only screen and (max-width: 992px) {
    .main-container .card-body.card-footer-subscription.card-footer-info {
        margin-bottom: 126px;
    }
    .main-container .card-body.card-footer-subscription.card-footer-info {
        width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    :root {
        --font24: 24px;
        --font20: 20px;
    }
    .main-container .card-wrapper {
        width: 90%;
    }
    .main-container .card-subscription {
        margin-top: 120px;
        
    }
    .main-container .card-body.card-footer-subscription.card-footer-info {
        margin-top: 100px;
    }
}
@media only screen and (min-height: 740px) {
    .main-container .card-subscription {
        margin-top: 55%;
    }
}


