/* the styles for modal */
.modal-container .modal-header-container {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}
.modal-container .modal-header-container .title {
    color: #1e2843;
    font-weight: var(--font-bold);
    font-size: var(--font22);
    line-height: 24px;
}
.modal-container .modal-header-container .subtitle {
    color:var(--light-grey);
    font-weight: var(--font-small-medium);
    font-size: var(--font14);
    line-height: 16px;
}
.modal-body-container .modal-body-title {
    margin-top: 16px;
}
.modal-body-container .modal-body-title span {
    color:var(--light-grey);
}

/* item box container popup extends the general subscription in this particular case*/

.item-box-container {
    width: 100%;
    padding: 0;
    background-color: var(--white-color);
    box-shadow: none;
    border-radius: 0;
}
.item-box-container:not(:first-child) {
    margin: 20px 0px;
}
.item-box-container:not(:last-child) {
    border-bottom: 1px solid var(--normal-textColor);
}

/* subscription-popup extends the general subscription in this particular case*/
.subscription-card-wrapper {
    width: 88px;
    height: 72px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscription-card-wrapper .text-wrapper {
    padding: 0;
}
.subscription-card-wrapper .text-wrapper .price {
    font-weight: var(--font-bold);
    font-size: 22.4px;
}
.subscription-card-wrapper .text-wrapper .text {
    font-size: 12.8px;
}

